/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 990px;
}

/********************************
Global Section
********************************/
.wrap {
	padding: 0;
}

.large-wrapper {
	width: 90%;
}

/********************************
Home Pg Section
********************************/

.venue-item {
  width: 22%;
  margin: 0 1%;
}


/* popup section */
.pop-up-restaurants {
	.pop-up-title {

		&:after, &:before {
			width: 30%;
		}
	}
}