.wrap {
  width: 990px;
}

/********************************
Global Section
********************************/
.wrap {
  padding: 0;
}

.large-wrapper {
  width: 90%;
}

/********************************
Header Section
********************************/
.logo-container {
  width: auto;
}
.nav-container {
  width: auto;
  text-align: center;
}

.inner-pop-up {
  .popup-img {
    width: 48%;
    margin: 0 1%;
  }
  .popup-txt-btn {
    width: 48%;
    margin: 0 1%;
  }
}

/********************************
Home Pg Section
********************************/

.videoContainer {
  max-width: 1140px;
}

.venue-item {
  width: 22%;
  margin: 0 1%;
}

/* popup section */
.pop-up-restaurants {
  .pop-up-title {
    &:after,
    &:before {
      width: 30%;
    }
  }
}

/********************************
Footer Section
********************************/

.footer {
  .footer-top {
    h3 {
      font-size: 20px;
    }
  }
}

.contact-title {
  font-size: 2.5em;
}

.location-info-box {
  width: 31%;
  &:nth-child(odd) {
    border: none;
  }
}

/* About page */

.about-tertiary {
  display: inline-block;
  width: 31%;
}
